# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Build outputs
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/captures/

# iOS
ios/Pods/
ios/.symlinks/
